---
title: WSO2 API Manager (Beta)
owner: Partners
---

<strong><%= modified_date %></strong>

<p class="note warning">
<strong>Warning: </strong>
The WSO2 API Manager for PCF tile is currently in beta and is intended for evaluation
and test purposes only. Do not use this product in a PCF production environment.
</p>

This documentation describes WSO2 API Manager Installer for Pivotal Cloud
Foundry (PCF), which installs the API management service
[WSO2 API Manager 2.6.0](https://wso2.com/api-management/) on PCF. WSO2 API Manager
Tile provides full lifecycle API development, integration, and management.

## <a id='overview'></a>Overview

WSO2 API Manager is a unique, open approach to full lifecycle API development, integration, and
management. It allows extensibility and customization, and ensures freedom from lock-in. As part of
the larger WSO2 Integration Agile Platform, it is a central component used to deploy and manage
API-driven ecosystems. It’s hybrid integration capabilities further simplify projects that span
traditional as well as micro-service environments.


## <a id='features'></a>Key Features

WSO2 API Manager includes the following key features:

* Design and Prototype APIs
* Publish APIs and Govern API Use
* Control Access and Enforce Security
* Developer Portal
* Manage the Developer Community
* Manage and Scale API Traffic
* Monitor and Monetize
* Pluggable, Extensible, and Themeable
* WSO2 Platform Multi-tenancy Support
* API analytics
* Key Manager




## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information about WSO2 API Manager.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>2.6.0-1.1557857953847</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 11, 2018</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>2.6.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.5.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial 170.15</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

WSO2 API Manager has the following requirements:

* SQL Database databases (MySQL or MS SQL) for storing data. In this context, PRODUCT_HOME will
refer to a extracted [WSO2 API Manager Binary](https://wso2.com/api-management/install/binary/):
    * Database for storing user management and registry data
        * For MySQL(versions prior to version 5.7) use `<PRODUCT_HOME>/dbscripts/mysql.sql`
        script
        * For MySQL(versions prior to version 5.7) use `<PRODUCT_HOME>/dbscripts/mysql5.7.sql`
        script
        * For MSSQL use `<PRODUCT_HOME>/dbscripts/mssql.sql` script
    * Database for API Manager specific data
        * For MySQL(versions prior to version 5.7) use `<PRODUCT_HOME>/dbscripts/apimgt/mysql.sql`
        script
        * For MySQL(versions prior to version 5.7) use `<PRODUCT_HOME>/dbscripts/apimgt/mysql5.7.sql`
        script
        * For MSSQL use `<PRODUCT_HOME>/dbscripts/apimgt/mssql.sql` script
    * Database for storing analytics data



## <a id="feedback"></a>Feedback

If you have a feature request, questions, or information about a bug, please email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) list or send an email to
[dev@wso2.org](mailto:dev@wso2.org).

## <a id='license'></a>License

This tile contains the WSO2 products with its latest updates, which are under the End User License Agreement (EULA) 2.0.
Read more about [EULA 2.0](https://wso2.com/licenses/wso2-update/2.0).
