---
title: Release Notes for WSO2 API Manager - Distributed
owner: Partners
---

<strong><%= modified_date %></strong>

These are release notes for WSO2 API Manager - Distributed.

##<a id="ver"></a> vCURRENT-VERSION-NUMBER (Ex. v1.0.1)

**Release Date:** RELEASE-DATE (Ex. October 1, 2017)

Features included in this release:

* [WSO2 API-M Analytics based on WSO2 Stream Processor](https://docs.wso2.com/display/AM260/Working+with+Analytics).
* Support to download the Microgateway analytics report.
* [Support for alert threshold configurations via the WSO2 API Manager Publisher and the store](https://docs.wso2.com/display/AM260/Configuring+Alerts).


Fixed issues in this release:

* [WSO2 API Manager 2.6.0 - Fixed Issues in the product-apim GitHub repository](https://github.com/wso2/product-apim/issues?q=label%253A2.6.0+is%253Aclosed).
* [WSO2 API Manager 2.6.0 - Fixed Issues in the carbon-apim GitHub repository](https://github.com/wso2/carbon-apimgt/issues?q=label%253A%2522APIM+2.6.0%2522+is%253Aclosed).


Known issues in this release:

* [WSO2 API Manager 2.6.0 - Known Issues in the product-apim GitHub repository](https://github.com/wso2/product-apim/labels/2.6.0).
* [WSO2 API Manager 2.6.0 - Known Issues in the analytics-apim GitHub repository](https://github.com/wso2/analytics-apim/labels/APIM%2525202.6.0).

